<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
     <link rel="stylesheet" href="/style.css">
    <title>مياه ابار حائل</title>
</head>

<body>
    
<div>
  <ul id="navbar">
     <a  href="abarpr.html"></a>
    
  <a href="abarSH.HTML"> </a>
  <a  href="abarAbout.html"></a>
  <a  href="abarCOM.HTML"> </a>
   <a href="abarCart.html"> </a>
   
  <a class="active" href="index.html"> </a>

  
     </ul>
    </div>
    <div class="container" id="container">
        <div class="form-container sign-up">


            <form id="signup-form" action="/index" method="post">
    <h1>Create Account</h1>

    <input name="fullName" id="fullname" type="text" placeholder="Full Name" required>
    <input name="username" id="username" type="text" placeholder="Username" required>
    <input name="email" id="email" type="email" placeholder="Email Address" required>
    <input name="password" id="password" type="password" placeholder="Password" required>
    <input name="confirm"  type="password" placeholder="Confirm Password" required>
   
    <input name="phone" id="phone" type="tel" placeholder="Phone Number" required>
    
    <input name="City" id="address" type="text" placeholder="Address / City" required>

    <select name="userType" id="userType" required>
        <option value="">Select User Type</option>
        <option value="customer">Personal</option>
        <option value="seller">Company</option>
    </select>

    <button type="submit">Sign Up</button>
</form>

        </div>
        <div class="form-container sign-in">
           <form id="signin-form" action="/login" method="post">
    <h1>Sign In</h1>

    <input name="username" id="login_email" type="email" placeholder="Email" required>
    <input name="password" id="login_password" type="password" placeholder="Password" required>

    <a href="#">Forgot Your Password?</a>
    <button type="submit">Sign In</button>
</form>

        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">log in</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    
</body>

</html>