body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

body {
    background-color: #17183b;
    background-image: 
        radial-gradient(at 47% 33%, hsl(158, 59%, 32%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(0, 0%, 49%) 0, transparent 55%);
        background-size: 200% 200%;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}



.logo-box {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #ffffff;
}

.logo-box img {
    width: 170px;
}

.login-container {
    width: 350px;
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}

.user-icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: #555;
}

.input-group {
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.input-group .icon {
    margin-left: 8px;
    font-size: 18px;
}

.input-group input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    
}

.options a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.options a:hover  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #060535;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background: #3c3072;
}